@use "../base/variables";

.container-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: variables.$color-5;;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem;
    background-color: variables.$color-1;
    color: variables.$color-4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.input {
    padding: 8px;
    border: 1px solid variables.$color-3;
    border-radius: 10px;
}

.button-submit {
    padding: 8px;
    border: 1px solid variables.$color-3;
    border-radius: 10px;
    cursor: pointer;
}

.button-submit:hover {
    background-color: variables.$color-3;
    color: variables.$color-1;
}

.register {
    cursor: pointer;
}

.register:hover {
    text-decoration: underline;
    color: variables.$color-3;
}